html,
body {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  font-family: 'Gilroy-Medium';
  color: #292d32;
  background-color: #f3f3f3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-black: #001433;
  --main-icon: #001433;
  --main-indigo: #001433;
  --sub-indigo: rgba(0, 20, 51, 0.7);
  --main-blue: #2681f2;
  --blue-shade: #4692f2;
  --main-yellow: #fcc95c;
  --main-background: #f3f3f3;
  --main-border: #dddddd;
  --main-gray: #bdbdbd;
  --gray-icon: #b3b3b3;
  --gray-text: #808999;
  --gray-variant-i: #d9d9d9;
}
