html,
body {
  padding: 0;
  margin: 0;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  color: #161823;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
